body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#app {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#notes-container, #editor {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    margin: 10px;
}

#notes-list {
    list-style: none;
    padding: 0;
}

#note-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#update-container {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
